body {
  background-color: burlywood;
}

.app {
  background-color: blueviolet;
}

.header{
  background-color: chartreuse;
}

.homepage{
  background-color: coral;
}

.viewCart{
  background-color:darkcyan;
}

.footer{
  background-color:deeppink;
}

.selectInstruments{
  background-color: deepskyblue;
}
.instrument-card {
  width: 25%;
  border-style: solid;
  border-color: black;
}
.card-container {
  padding: 2px 16px;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
.card-image {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}