* {
  font-family: 'Montserrat', sans-serif;
}
.app {
  margin: 0vw 0vw 0vw 0vw;
}
body {
  margin: 0px;
}
.header{
  background-color: rgb(10, 46, 162);
}
.navbar {
  text-decoration: none;
  color: white;
}
h1 {
  color: white;
  font-family: 'Limelight', cursive;
}
.header-bar {
  margin:0px;
  display: flex;
  justify-content: space-between;
}

.homepage{
  background-color: rgb(255, 255, 255);
}
.viewCart{
  background-color: white;
  display: flex;
}
.shopping-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shopping-card{
  text-align: center;
  width: 25%;
  border-style: solid;
  border-color: white;
  margin: 1vw 0vw 1vw 0vw;
  background-color: white;
}
.checkout {
  width: 100%;
}
.footer{
  background-color:rgb(255, 255, 255);
  text-align: center; 
}
.selectInstruments{
  background-color: rgb(181, 187, 189);
}
.instrument-card {
  text-align: center;
  width: 25%;
  border-style: solid;
  border-color: white;
  margin: 1vw 0vw 1vw 0vw;
  background-color: white;
}
.instrument-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
.card-image {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
#homepage-image-main {
  width: 100%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.review-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.review-card {
  display: flex;
  width: 75%;
  height: auto;
  margin: 1rem;
  padding: 1rem;
}
.review-image-container {
  width:25%;
}
.review-text-container {
  background-color: white;
  width: 75%;
  padding-left: 2rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: gray;
}
.homepage > p {
  text-align: center;
  font-size: larger;
  background-color: rgb(213, 213, 213);
  margin: -1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
