body {
  background-color: burlywood;
}

.app {
  background-color: blueviolet;
}

.header{
  background-color: chartreuse;
}

.homepage{
  background-color: coral;
}

.viewCart{
  background-color:darkcyan;
}

.footer{
  background-color:deeppink;
}

.selectInstruments{
  background-color: deepskyblue;
}